@import "./base.css";

:root {
	--black: #000000;
	--white: #ffffff;
	--shared-text: #ffff00;
	--default-radius: 10px;
}

.confirm-deselect-all-container {
	border: 2px solid;
	display: flex;
	justify-content: space-around;
	border-radius: 5px;
}
.confirm-undo-button {
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.confirm-deselect-all {
	width: 20px;
	height: 20px;
}

.light {
	background-color: white !important;
}
.dark {
	background-color: #333333 !important;
}
.minimal {
	background-color: #a5becc !important;
}
.retro {
	background-color: black !important;
}
.summer {
	background-color: #12a1df !important;
}
.winter {
	background-color: #1a3159 !important;
}
.elegant {
	background-color: #045687 !important;
}
.pink {
	background-color: #e8acd0 !important;
}
.panter {
	background-color: #01011d !important;
}
.lemon {
	background-color: #fded04 !important;
}

/* ---------------------------------------- MODALE ------------------------------------ */
.modal {
	display: block;
	position: absolute;
	z-index: 1000;
	padding-top: 50%;
	left: 0;
	bottom: -5px;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.75);
}
@media (min-width: 650px) {
	.modal {
		padding-top: 130px; /* SI VOLAAAAAAAAAAAAAAAAAAAAAAAAAAA!!!! */
	}
}

.close {
	color: #aaaaaa;
	float: right;
	font-size: 2.5rem;
	font-weight: bold;
	position: fixed;
	right: 6%;
	background-color: var(--white);
	border-radius: 50%;
	opacity: 1.5;
	padding: 0 5px;
	border: 1px solid;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
