@import "./base.css";

:root {
	--black: #000000;
	--white: #ffffff;
	--shared-text: #ffff00;
	--default-radius: 10px;
}

.category-padding-btn {
	padding: 3px !important;
}

.confirm-deselect-all-container {
	border: 2px solid;
	display: flex;
	justify-content: space-around;
	border-radius: 5px;
}
.confirm-undo-button {
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.confirm-deselect-all {
	width: 20px;
	height: 20px;
}

.light {
	background-color: var(--light-background-color) !important;
}
.dark {
	background-color: var(--dark-background-color) !important;
}
.minimal {
	background-color: var(--minimal-primary-color) !important;
}
.retro {
	background-color: var(--dos-secondary-color) !important;
}
.summer {
	background-color: var(--summer-secondary-color) !important;
}
.winter {
	background-color: var(--winter-background-color) !important;
}
.elegant {
	background-color: var(--elegant-primary-color-dark) !important;
}
.pink {
	background-color: var(--pink-primary-color) !important;
}
.panter {
	background-color: var(--panter-primary-color) !important;
}
.lemon {
	background-color: var(--lemon-primary-color) !important;
}
.jeans {
	background-color: var(--jeans-primary-color) !important;
}

/* ---------------------------------------- MODALE ------------------------------------ */
.modal {
	display: block;
	position: absolute;
	z-index: 1000;
	padding-top: 50%;
	left: 0;
	bottom: -5px;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.75);
}
@media (min-width: 650px) {
	.modal {
		padding-top: 130px; /* SI VOLAAAAAAAAAAAAAAAAAAAAAAAAAAA!!!! */
	}
}

.close {
	color: #aaaaaa;
	float: right;
	font-size: 2.5rem;
	font-weight: bold;
	position: fixed;
	right: 6%;
	background-color: var(--white);
	border-radius: 50%;
	opacity: 1.5;
	padding: 0 5px;
	border: 1px solid;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.retro-theme-buttons button {
	/* per tema dos faccio si che qualsiasi bottone abbia questo stile, per ricreare lo stile old */
	border-radius: 0 !important;
	box-shadow: none !important;
}

/* queste 2 categorie dovrebbero essere in Confirm-buttons-container ma le lascio qui perchè le uso anche in Confirm-modal */
.ok {
	font-size: 1.25rem;
	background: #146c20;
	border-radius: 50%;
}

.no {
	font-size: 1.25rem;
	background: #000000;
	border-radius: 50%;
}

/* ------------------------------------------- PULSANTI COPIA E SPOSTA ELEMENTI DALLE LISTE */
.copy-img {
	width: 20px;
	height: 20px;
}
.move-img {
	width: 25px;
	height: 25px;
}
.move-arrow {
	width: 25px;
	height: 38px;
}

.copy-elements-btn,
.move-elements-btn {
	cursor: pointer;
	align-self: center;
	width: 120px;
	height: 35px;
	border: 2px solid;
	display: flex;
	gap: 10px;
	align-items: center;
	flex-wrap: nowrap;
}

.copy-elements-btn {
	color: #00bfff !important;
}
.move-elements-btn {
	color: #ff6600 !important;
}

/* ------------------------------------------------------------   VARIE */

.btn-font-custom {
	font-family: "Lucida Console", "Courier New", monospace;
	font-weight: bold;
}

.black-text {
	color: #000000;
}
.white-text {
	color: #ffffff;
}

.arrow {
	width: 1.688rem;
	height: 1.688rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Lucida Console", "Courier New", monospace;
	font-weight: bold;
	font-size: 1.563rem;
	padding-top: 0.625rem;
}
.arrow-selected {
	-webkit-animation: spin 0.5s linear;
	-moz-animation: spin 0.5s linear;
	animation: spin 0.5s linear;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
@keyframes spin {
	100% {
		-webkit-transform: rotate(-180deg);
		transform: rotate(-180deg);
	}
}
.arrow-deselected {
	-webkit-animation: reverseSpin 0.5s linear;
	-moz-animation: reverseSpin 0.5s linear;
	animation: reverseSpin 0.5s linear;
}
@keyframes reverseSpin {
	from {
		-webkit-transform: rotate(-180deg);
		transform: rotate(-180deg);
	}
	to {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}

.close-x-container {
	width: 65px;
	height: 60px;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.313rem;
}
.close-x-btn {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	float: right;
	width: 30px;
	padding-left: 8px;
	color: #000000;
	background-color: #d3d3d3;
	border: 2px solid;
	border-radius: 50%;
}
