:root {
	--elegant-primary-color-dark: #073c5c;
	--elegant-primary-color-light: #045687;
	--elegant-secondary-color: #1d2731;
	--elegant-text-color: #d98410;
	--helper-placeholder-text-color: #d0c5c4;
	--helper-color-1: #0a2256;
	--helper-color-2: #04291b;
}

.elegant-body {
	background-color: var(--elegant-primary-color-dark);
	color: var(--elegant-text-color);
	font-family: "Tauri", sans-serif;
	background: linear-gradient(90deg, rgba(7, 60, 92, 1) 30%, rgba(29, 39, 49, 1) 55%);
	font-weight: bold;
}

/* Gli important sono brutti, lo so che sono una brutta persona e cercherò di toglierli, per il momento fatti i cazzi tuoi :P */
.elegant-theme-title {
	background: linear-gradient(to right, #ffd95c, #6b3e00) !important;
	-webkit-background-clip: text !important;
	background-clip: text !important;
	-webkit-text-fill-color: transparent !important;
	font-weight: bold;
}
.elegant-theme {
	background-image: none;
	background: var(--elegant-primary-color-dark);
	background: linear-gradient(90deg, var(--elegant-primary-color-dark) 30%, var(--elegant-secondary-color) 55%);
	color: var(--elegant-text-color);
}
.elegant-border {
	border: 1px solid var(--elegant-text-color) !important;
}
.category-elegant-container {
	background-color: var(--elegant-secondary-color);
}
.elegant-theme-helper {
	background-image: none;
	background: linear-gradient(0deg, var(--helper-color-2) 0%, var(--helper-color-1) 100%) !important;
	color: var(--helper-placeholder-text-color);
}
.elegant-placeholder {
	background-color: #0070b544;
	color: var(--helper-placeholder-text-color);
}
.elegant-line-through {
	text-decoration: line-through;
	-webkit-text-decoration-line: line-through;
}
.elegant-theme-confirm {
	background-color: var(--elegant-primary-color-dark);
	background-image: none;
	color: var(--elegant-text-color);
	font-weight: bold;
	border: 1px solid var(--elegant-text-color);
}
.elegant-selected-button {
	background-color: var(--elegant-primary-color-dark) !important;
	color: var(--elegant-text-color) !important;
}
.pushbutton-container > .elegant-selected-btn {
	background-color: var(--elegant-secondary-color) !important;
	color: var(--elegant-text-color) !important;
}
.elegant-btn {
	background-color: var(--elegant-primary-color-light) !important;
	border-color: var(--elegant-text-color) !important;
	color: var(--elegant-text-color) !important;
	border-radius: 5px !important;
}
.elegant-delete-all-btn {
	background-color: var(--elegant-secondary-color) !important;
	border-color: var(--elegant-text-color) !important;
	border-radius: 5px !important;
}
.elegant-btn > button {
	background-color: var(--elegant-primary-color-light) !important;
	border-color: var(--elegant-text-color) !important;
	color: var(--elegant-text-color) !important;
}
.elegant-helper-btn {
	background-color: var(--elegant-primary-color-light) !important;
	border-color: var(--elegant-text-color) !important;
	color: var(--elegant-text-color) !important;
}
.elegant-todo-draggable {
	background-color: var(--elegant-secondary-color) !important;
	border: 1px solid var(--white) !important;
	color: var(--white) !important;
	border-radius: 3px !important;
	margin-bottom: 0.9375rem;
}
.category-elegant {
	border: 1px solid var(--elegant-text-color) !important;
	background-color: var(--elegant-primary-color-light) !important;
	color: var(--white);
	border-radius: 4px;
}
.category-elegant > .todo {
	font-weight: bold;
}
.elegant-theme-back-top {
	color: var(--elegant-text-color) !important;
	border-color: var(--elegant-text-color) !important;
	background-color: var(--elegant-primary-color-light) !important;
	padding: 5px 10px !important;
}

.elegant-selected {
	text-align: center;
	background-color: var(--elegant-text-color) !important;
	color: #ffffff;
	border-radius: 5px;
	padding-left: 3px;
	animation: underline 0.8s ease-out;
}
@keyframes underline {
	0% {
		width: 0;
	}
	100% {
		width: 200px;
	}
}
.tips-btn-elegant {
	background-color: var(--elegant-primary-color-dark);
	border-left: 2px solid var(--elegant-text-color);
	border-right: 2px solid var(--elegant-text-color);
	border-bottom: 2px solid var(--elegant-text-color);
	border-radius: 0 0 5px 5px;
	color: var(--elegant-text-color);
}
.sugg-modal-elegant {
	background-color: var(--elegant-primary-color-dark);
	color: var(--elegant-text-color);
	border: 2px solid var(--elegant-text-color);
	border-radius: 10px;
}
.duplicate-container-elegant {
	background-color: var(--elegant-secondary-color) !important;
	border: 1px solid var(--elegant-text-color) !important;
	border-radius: 5px !important;
	box-shadow: none !important;
}

.container-elegant {
	background-color: var(--elegant-secondary-color);
	border: 1px solid var(--elegant-text-color);
	color: var(--elegant-text-color);
}
.container-elegant > p {
	font-weight: bold;
}
.container-elegant > button {
	background-color: var(--elegant-primary-color-light);
	border-color: var(--elegant-text-color);
	color: var(--elegant-text-color);
}
.btn-elegant {
	border: 2px solid black !important;
}

.confirm-elegant {
	background-color: #1d2731;
	border: 1px solid #d98410;
	color: #d98410;
}
.confirm-elegant > p {
	font-weight: bold;
}
.confirm-elegant > button {
	background-color: #045687;
	border-color: #d98410;
	color: #d98410;
}
