:root {
	--light-background-color: #ffffff;
	--light-text-color: #000000;
}

.light-body {
	background-color: var(--light-background-color);
	color: var(--light-text-color);
	font-family: "Permanent Marker", cursive;
}

.light-btn {
	background-color: var(--light-background-color);
	border: 2px solid #007bff;
	border-radius: 10px;
}
.light-theme-confirm {
	background-color: var(--light-background-color);
	-webkit-box-shadow: 0px 15px 30px 1px rgba(0, 0, 0, 0.81);
	-moz-box-shadow: 0px 15px 30px 1px rgba(0, 0, 0, 0.81);
	box-shadow: 0px 15px 30px 1px rgba(0, 0, 0, 0.81);
}
.tips-btn-light {
	background-color: var(--white);
	border-left: 2px solid var(--black);
	border-right: 2px solid var(--black);
	border-bottom: 2px solid var(--black);
	border-radius: 0 0 10px 10px;
	color: var(--black);
}
.sugg-modal-light {
	background-color: var(--white);
	color: var(--black);
	border: 2px solid var(--black);
	border-radius: 15px;
}
.light-checkbox {
	background-color: var(--white);
}
.duplicate-container-light {
	border: 2px solid var(--black);
	border-radius: var(--default-radius);
}

.light-button-color {
	background-color: rgba(192, 224, 133, 0.883) !important;
	border: 2px solid rgb(180, 230, 89) !important;
}

.container-light {
	background-color: var(--light-background-color);
	border: 2px solid var(--black);
}
.container-light > p {
	max-width: 24ch;
}

.confirm-light {
	background-color: #ffffff;
	background-image: url("@/img/postit.webp");
	background-size: cover;
	background-repeat: no-repeat;
}
.confirm-light > p {
	max-width: 24ch;
}
.confirm-delete-all-light {
	background-image: url("@/img/carta-stropicciata.webp") !important;
	background-size: contain;
	border: 2px solid rgb(0, 172, 252);
}

.light-periodic-todo {
	background-color: var(--light-background-color);
}
