:root {
	--panter-primary-color: #000018;
	--panter-secondary-color: #353535;
	--panter-tertiary-color: #656565;
	--panter-dark-color: #000000;
	--panter-light-color: #888888;
	--panter-text-color: #c9c9c9;
}
/* 	Lo so, che sono un coglione e panter non si scrive così, lo soooooo!!! 
	purtroppo ho sbagliato all'inizio e col cazzo che cambio ovunque il termine per una sola h!!! :P */
.panter-theme-btn,
.panter-theme-back-top {
	background-color: var(--panter-primary-color);
	color: var(--panter-tertiary-color);
	border: 2px solid var(--panter-tertiary-color);
}

.panter-theme-btn {
	min-width: 85px;
}
.category-panther-container {
	background-color: var(--panter-dark-color);
}
.panther-todo {
	font-size: 1.125rem;
	color: var(--panter-text-color);
}
.confirm-panter {
	border: 2px solid var(--panter-secondary-color);
	background-color: var(--panter-dark-color);
}

.confirm-panter > .confirm-buttons-container > button {
	background-color: var(--panter-tertiary-color);
}

.panter-other-btn {
	background-color: var(--panter-secondary-color) !important;
	color: var(--panter-dark-color) !important;
	border: 2px solid var(--panter-dark-color) !important;
}

.duplicate-container-panter {
	background-color: var(--panter-primary-color) !important;
	color: var(--panter-light-color) !important;
	border: 2px solid var(--panter-tertiary-color) !important;
}

.panter-category-btn {
	background-color: var(--panter-secondary-color) !important;
	color: var(--panter-light-color) !important;
	border: 2px solid var(--panter-dark-color) !important;
}

.panter-theme-selected-btn {
	background-color: var(--panter-dark-color) !important;
	color: var(--panter-light-color) !important;
	border: 2px solid var(--panter-light-color) !important;
}

.panter-btns-container {
	border-color: var(--panter-light-color) !important;
	background-color: var(--panter-secondary-color) !important;
}

.panter-btn-dark {
	background-color: var(--panter-dark-color) !important;
	border-color: var(--panter-dark-color) !important;
}

.panter-helper {
	background-color: var(--panter-dark-color) !important;
}

.panter-border {
	border: 2px solid var(--panter-tertiary-color) !important;
}

.sugg-modal-panter {
	background-color: var(--panter-dark-color);
	color: var(--panter-light-color);
	border: 1px solid var(--panter-light-color);
	border-radius: 10px;
}

.tips-btn-panter {
	background-color: var(--panter-dark-color);
	border-left: 2px solid var(--panter-light-color);
	border-right: 2px solid var(--panter-light-color);
	border-bottom: 2px solid var(--panter-light-color);
	border-radius: 0 0 5px 5px;
	color: var(--panter-light-color);
}

.list-title-panter-selected {
	background-color: #88888880;
}

@media (max-width: 430px) {
	.list-button-panther-size {
		max-width: 90px;
	}
}
